<section  class="blogContainer">
      <div class="blogTitle">
        <h3 class="selectBlog" id={{id}}>{{title}}</h3>
        <p>{{author}} - {{ format_date dateCreated }}<button class="editPost" id={{id}}>Edit</button><button class="deletePost" id={{id}}>Delete</button></p>
        
      </div>
      <div class="blogContent">
        {{content}}
      </div>
    </section>
